@import url(http://fonts.googleapis.com/css?family=Tienne|Open+Sans:300italic,400italic,600italic,700italic,800italic,300,400,600,700,800;);
/* line 2, ../sass/screen.scss */
body {
  font-family: open sans;
  font-size: 1.1em;
  font-weight: 300;
  padding-bottom: 3em;
}

/* line 3, ../sass/screen.scss */
.container {
  width: 960px;
  margin: 0 auto;
}

/* line 4, ../sass/screen.scss */
.col1 {
  width: 18%;
  margin: 0 1% 0 1%;
}

/* line 5, ../sass/screen.scss */
.col2 {
  width: 31%;
  margin: 0 1% 0 1%;
}

/* line 6, ../sass/screen.scss */
.col3 {
  width: 48%;
  margin: 0 1% 0 1%;
}

/* line 7, ../sass/screen.scss */
.col4 {
  width: 58%;
  margin: 0 1% 0 1%;
}

/* line 8, ../sass/screen.scss */
.col5 {
  width: 78%;
  margin: 0 1% 0 1%;
}

/* line 9, ../sass/screen.scss */
.col6 {
  width: 98%;
  margin: 0 1% 0 1%;
}

/* line 11, ../sass/screen.scss */
.header {
  height: 300px;
  box-shadow: 0 0 100px rgba(28, 148, 153, 0.75);
  border-bottom: 1px solid rgba(28, 148, 153, 0.5);
}

/* line 13, ../sass/screen.scss */
.logo {
  position: relative;
  z-index: 9;
  display: block;
  margin: -80px auto 0 auto;
  height: 150px;
}

/* line 14, ../sass/screen.scss */
.usp {
  font-family: tienne;
  font-size: 1.9em;
  width: 80%;
  margin: 1em auto 1em auto;
  text-align: center;
  color: #1c8f99;
  line-height: 1.2;
}

/* PRODUCTS */
/* line 17, ../sass/screen.scss */
.view {
  display: block;
  width: 100%;
  height: 225px;
  outline: 1px solid #eee;
  background-image: url(../images/product_5stone-turq.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

/* line 18, ../sass/screen.scss */
.product1 {
  background-image: url(../images/product_5stone-turq.png);
}

/* line 19, ../sass/screen.scss */
.product2 {
  background-image: url(../images/product_2tone-turq-violet.png);
}

/* line 20, ../sass/screen.scss */
.product3 {
  background-image: url(../images/product_donuts-brights.png);
}

/* line 21, ../sass/screen.scss */
.product4 {
  background-image: url(../images/product_bracelet-jetblack.png);
}

/* line 22, ../sass/screen.scss */
.products h3 {
  font-size: 1em;
  margin-bottom: 1em;
}

/* line 23, ../sass/screen.scss */
.colors {
  display: none;
  margin-bottom: 1em;
}

/* line 24, ../sass/screen.scss */
.price {
  margin: 0;
  padding-left: 1.5em;
  color: #888;
}

/* line 25, ../sass/screen.scss */
.sale {
  font-weight: bold;
  color: #c00;
  background: url(../images/icon-sale.svg) no-repeat left bottom;
}

/* line 26, ../sass/screen.scss */
.buy-button {
  margin-top: 1em;
  background: #fc0;
  border-radius: 4px;
  color: #222;
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  background: #ffe88e;
  background: -moz-linear-gradient(top, #ffe88e 0%, #ffe88e 0%, #ffcc00 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffe88e), color-stop(0%, #ffe88e), color-stop(100%, #ffcc00));
  background: -webkit-linear-gradient(top, #ffe88e 0%, #ffe88e 0%, #ffcc00 100%);
  background: -o-linear-gradient(top, #ffe88e 0%, #ffe88e 0%, #ffcc00 100%);
  background: -ms-linear-gradient(top, #ffe88e 0%, #ffe88e 0%, #ffcc00 100%);
  background: linear-gradient(to bottom, #ffe88e 0%, #ffe88e 0%, #ffcc00 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe88e', endColorstr='#ffcc00',GradientType=0 );
}

/* line 36, ../sass/screen.scss */
.buy-button span {
  display: inline-block;
  padding: .1em .5em .1em 1em;
  vertical-align: middle;
}

/* line 37, ../sass/screen.scss */
.buy-button img {
  vertical-align: middle;
  display: inline-block;
  margin-top: 4px;
}

/* line 38, ../sass/screen.scss */
.buy-button:hover {
  background: #ffdd11;
}

/* line 40, ../sass/screen.scss */
.babysafe {
  background: rgba(100, 255, 0, 0.1);
  border-radius: 10px;
}

/* line 41, ../sass/screen.scss */
.babysafe h3, .babysafe h4, .babysafe p {
  padding: 0 1em 0 1em;
}

/* line 42, ../sass/screen.scss */
.babysafe ul {
  list-style: none;
  padding: 1em;
}

/* line 43, ../sass/screen.scss */
.babysafe li {
  background: url(../images/icon-check3.svg) no-repeat left center;
  line-height: 1.1;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.25);
  padding: .5em 0 .5em 2.5em;
}

/* REVIEWS */
/* line 48, ../sass/screen.scss */
.previous, .next {
  display: inline-block;
  display: none;
  float: left;
  background: url(../images/arrow.svg) no-repeat -50px 0;
  width: 50px;
  height: 50px;
  margin-top: 4em;
}

/* line 49, ../sass/screen.scss */
.next {
  background-position: 0 0;
  margin-left: 5px;
}

/* line 50, ../sass/screen.scss */
.previous {
  margin-left: 4%;
}

/* line 51, ../sass/screen.scss */
.reviews p {
  float: left;
  background: rgba(28, 148, 153, 0.15);
  border-radius: 10px;
  padding: 1em;
  font-size: .9em;
  width: 28%;
  margin: 1%;
  text-align: left;
}

/* line 52, ../sass/screen.scss */
.reviews span {
  display: block;
  text-align: right;
  background: url(../images/5stars.png) no-repeat left center;
  font-style: italic;
}

/* line 53, ../sass/screen.scss */
.header .reviews p {
  width: 40%;
}

/* ABOUT US */
/* line 57, ../sass/screen.scss */
.about_us p:first-of-type {
  margin-top: 2em;
}

/* line 59, ../sass/screen.scss */
.footer {
  font-size: .8em;
  color: #aaa;
}

/* TYPOGRAPHY */
/* line 62, ../sass/screen.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: Tienne;
  margin: 0 0 .1em 0;
}

/* line 63, ../sass/screen.scss */
h1 {
  font-size: 1.75em;
}

/* line 64, ../sass/screen.scss */
h2 {
  font-size: 1.5em;
}

/* line 65, ../sass/screen.scss */
h3 {
  font-weight: 600;
  font-size: 1.2em;
  margin-top: 1em;
}

/* line 66, ../sass/screen.scss */
h4 {
  font-weight: bold;
  font-size: 1em;
}

/* line 67, ../sass/screen.scss */
hr {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #ddd;
  margin: 1em 0 1em 0;
}
