body {font-family:open sans; font-size:1.1em; font-weight:300; padding-bottom:3em;}
.container {width:960px; margin:0 auto;}
.col1 {width:18%; margin:0 1% 0 1%;}
.col2 {width:31%; margin:0 1% 0 1%;}
.col3 {width:48%; margin:0 1% 0 1%;}
.col4 {width:58%; margin:0 1% 0 1%;}
.col5 {width:78%; margin:0 1% 0 1%;}
.col6 {width:98%; margin:0 1% 0 1%;}

.header {height:300px; box-shadow:0 0 100px rgba(28,148,153,.75); border-bottom:1px solid rgba(28,148,153,.5);}

.logo {position:relative; z-index:9; display:block; margin:-80px auto 0 auto; height:150px;}
.usp {font-family:tienne; font-size:1.9em; width:80%; margin:1em auto 1em auto; text-align:center; color:rgba(28,143,153,1); line-height:1.2;}

/* PRODUCTS */
.view {display:block; width:100%; height:225px; outline:1px solid #eee; background-image:url(../images/product_5stone-turq.png); background-repeat:no-repeat; background-position:0 0;}
.product1 {background-image:url(../images/product_5stone-turq.png);}
.product2 {background-image:url(../images/product_2tone-skyblue-dimgrey.png);}
.product3 {background-image:url(../images/product_kidsize-rainbow.png);}
.product4 {background-image:url(../images/product_donuts-brights.png);}
.product5 {background-image:url(../images/product_bracelet.png);}
.product6 {background-image:url(../images/product_oval-yellow.png);}
.product7 {background-image:url(../images/product_elephant-group.png);}

.products h3 {font-size:1em; margin-bottom:1em;}
.colors {display:none; margin-bottom:1em;}
.price {margin:0; color:#222;}
.sale {font-weight:bold; color:#c00; background:url(../images/icon-sale.svg) no-repeat left bottom;}
.buy-button {margin:1em 0 2em 0; background:#fc0; border-radius:4px; color:#222; display:inline-block; border:1px solid rgba(0,0,0,.25); box-shadow:0 2px 4px rgba(0,0,0,.25);
  background: rgb(255,232,142);
  background: -moz-linear-gradient(top,  rgba(255,232,142,1) 0%, rgba(255,232,142,1) 0%, rgba(255,204,0,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,232,142,1)), color-stop(0%,rgba(255,232,142,1)), color-stop(100%,rgba(255,204,0,1)));
  background: -webkit-linear-gradient(top,  rgba(255,232,142,1) 0%,rgba(255,232,142,1) 0%,rgba(255,204,0,1) 100%);
  background: -o-linear-gradient(top,  rgba(255,232,142,1) 0%,rgba(255,232,142,1) 0%,rgba(255,204,0,1) 100%);
  background: -ms-linear-gradient(top,  rgba(255,232,142,1) 0%,rgba(255,232,142,1) 0%,rgba(255,204,0,1) 100%);
  background: linear-gradient(to bottom,  rgba(255,232,142,1) 0%,rgba(255,232,142,1) 0%,rgba(255,204,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe88e', endColorstr='#ffcc00',GradientType=0 );
}
.buy-button span {display:inline-block; padding:.1em .5em .1em 1em; vertical-align:middle;}
.buy-button img {vertical-align:middle; display:inline-block; margin-top:4px;}
.buy-button:hover {background:#ffdd11;}

.babysafe {background:rgba(100,255,0,.1); border-radius:10px;}
.babysafe h3, .babysafe h4, .babysafe p {padding:0 1em 0 1em;}
.babysafe ul {list-style:none; padding:1em;}
.babysafe li {background:url(../images/icon-check3.svg) no-repeat left center; line-height:1.1; border-bottom:1px dashed rgba(0,0,0,.25); padding:.5em 0 .5em 2.5em;}


/* REVIEWS */
.reviews {}
.previous, .next {display:inline-block; display:none; float:left; background:url(../images/arrow.svg) no-repeat -50px 0; width:50px; height:50px; margin-top:4em;}
.next {background-position:0 0; margin-left:5px;}
.previous {margin-left:4%;}
.reviews p {float:left; background:rgba(28,148,153,.15); border-radius:10px; padding:1em; font-size:.9em; width:28%; margin:1%; text-align:left;}
.reviews span {display:block; text-align:right; background:url(../images/5stars.png) no-repeat left center; font-style:italic;}
.header .reviews p {width:40%;}  


/* ABOUT US */
.about_us p:first-of-type {margin-top:2em;}

.footer {font-size:.8em; color:#aaa;}

/* TYPOGRAPHY */
h1, h2, h3, h4, h5, h6 {font-family:Tienne; margin:0 0 .1em 0;}
h1 {font-size:1.75em;}
h2 {font-size:1.5em;}
h3 {font-weight:600; font-size:1.2em; margin-top:1em;}
h4 {font-weight:bold; font-size:1em;}
hr {border-width:0 0 1px 0; border-style:solid; border-color:#ddd; margin:1em 0 1em 0;}