/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(http://fonts.googleapis.com/css?family=Nixie+One|La+Belle+Aurore|Podkova|Life+Savers|Clicker+Script|Sacramento|Raleway+Dots|Open+Sans:300italic,400italic,600italic,700italic,800italic,300,400,600,700,800;);
/* line 8, ../sass/screen.scss */
body {
  background: url(http://placekitten.com/g/1500/400) no-repeat top center;
  font-family: open sans;
  font-size: 1.1em;
  font-weight: 300;
}

/* line 10, ../sass/screen.scss */
.container {
  width: 90%;
  margin: 0 auto;
}

/* line 11, ../sass/screen.scss */
.bg_slideshow {
  display: none;
}

/* line 12, ../sass/screen.scss */
.logo {
  display: block;
  margin: 300px auto 0 auto;
  width: 50%;
  min-width: 350px;
  max-width: 500px;
}

/* line 13, ../sass/screen.scss */
.usp {
  font-family: nixie one;
  font-size: 3em;
  width: 75%;
  margin: 1em auto;
  text-align: center;
  color: #B6C498;
}

/* line 14, ../sass/screen.scss */
a[href^="mailto:"] {
  display: block;
  width: 20%;
  background: #8B9E65;
  color: #FFF;
  border-radius: .5em;
  margin: 0 auto;
  padding: 1em;
  text-decoration: none;
  text-align: center;
}

/* line 15, ../sass/screen.scss */
a[href^="mailto:"]:hover {
  background: #9E9E65;
  font-weight: bold;
}

/* line 16, ../sass/screen.scss */
.col {
  float: left;
  width: 25%;
  margin-right: 3%;
  border: 1px solid #eee;
  border-radius: .5em;
  padding: 2.5%;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
}

/* line 17, ../sass/screen.scss */
.col img {
  float: left;
  margin: 0 1em 3em 0;
  display: block;
}

/* line 20, ../sass/screen.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: nixie one;
  margin-bottom: .25em;
}

/* line 21, ../sass/screen.scss */
h1 {
  font-family: nixie one;
  font-size: 1.75em;
}

/* line 22, ../sass/screen.scss */
h2 {
  font-size: 1.5em;
}

/* line 23, ../sass/screen.scss */
.section {
  margin-top: 2em;
  padding: 2em 0 2em 0;
}

/* line 25, ../sass/screen.scss */
.bg2 {
  background: #D9E7BE;
}

/* line 27, ../sass/screen.scss */
.clearfix {
  *zoom: 1;
}

/* line 28, ../sass/screen.scss */
.clearfix:before, .clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

/* line 29, ../sass/screen.scss */
.clearfix:after {
  clear: both;
}
